<html>
<head>
<title>Redis - Home</title>
</head>

<!-- as variaveis corfundo e corfrente serao substituidas pelas cores
     selecionadas pelo usuário -->

<body style="background-color:<%= corfundo %>" text="<%= corfrente %>">

<h1>Bem vindo!</h1>

</body>
</html>